<div class="row">
	<div class="twelve columns centered">
	    <h1>My Awesome Blog Title</h1><p>First Last's blog</p>
		<%= link_to 'New Post', new_post_path %> | 
		<%= link_to 'Login', posts_path %>
	</div>
</div>

<div class="row">
	<div class="ten columns centered">
		<% @posts.each do |post| %>
			<h2><%= link_to post.title, post_path(post) %></h2>
			<p>Posted <%= post.created_at.in_time_zone("Eastern Time (US & Canada)").to_s(:long) %></p>
			<%= raw Redcarpet.new(post.content).to_html %>
			<hr />
		<% end %>
	</div>
</div>
